<div class="card mb-3 d-flex flex-column justify-content-start" style="width: 19rem; height: 20rem;">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="details">

        <h5 class="card-title pe-2">{{ task.title }}</h5>
        <p class="card-text d-block  ">{{ task.description }}</p>
        <p class="card-text" *ngIf="userRole === 'manager' || userRole === 'admin'"> <span>Assigned To:</span> {{
          task.assignedTo }}
        </p>
        <p class="card-text" *ngIf="userRole === 'manager' || userRole === 'admin'"> <span>Created By:</span> {{
          task.createdBy }}</p>
        <p class="card-text"> <span>Status:</span> {{ task.status }}</p>
      </div>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-sm  rounded-pill" id="actionDropdown" ngbDropdownToggle>
          Actions
          <i class="ri-more-2-fill"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="actionDropdown" class="dropdown-menu">

          <li>

            <a type="button" ngbDropdownItem class="btn btn-sm dropdown-item"
              *ngIf="task.status !== 'Done' && (userRole === 'manager')" (click)="editTask(task)">
              <i class="ri-chat-forward-line align-bottom me-2 text-muted"></i>
              Edit

            </a>
          </li>

          <li *ngIf="userRole != 'user'">
            <a class="btn btn-sm dropdown-item">
              <i class="ri-chat-forward-line align-bottom me-2 text-muted"></i>
              Asign To &nbsp; &nbsp; &raquo;</a>
            <ul class="dropdown-menu dropdown-submenu">
              <li *ngFor="let user of users">
                <button class="btn btn-sm dropdown-item" (click)="assignTask(task, user)">
                  {{ user.userName }}
                </button>
              </li>

            </ul>
          </li>
          <li>
            <a class="btn btn-sm dropdown-item">
              <i class="ri-chat-forward-line align-bottom me-2 text-muted"></i>
              Change Status To &nbsp; &nbsp; &raquo;</a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" role="button" (click)="changeTaskStatus(task, 'To Do')"
                  *ngIf="task.status !== 'To Do'">
                  To Do
                </a>
                <a class="dropdown-item" role="button" (click)="changeTaskStatus(task, 'In Progress')"
                  *ngIf="task.status !== 'In Progress'">
                  In Progress
                </a>
                <a class="dropdown-item" role="button" (click)="changeTaskStatus(task, 'Done')"
                  *ngIf="task.status !== 'Done'">
                  Done
                </a>
              </li>

            </ul>
          </li>
          <li>

            <a role="button" ngbDropdownItem class="btn btn-sm dropdown-item" (click)="deleteTask(task)"
              *ngIf=" userRole === 'admin'">
              <i class="ri-chat-forward-line align-bottom me-2 text-muted"></i>
              Delete

            </a>
          </li>
        </div>
      </div>

    </div>

  </div>
</div>