<!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text">{{ task.description }}</p>
      <p class="card-text"><strong>Status:</strong> {{ task.status }}</p>
      <p class="card-text"><strong>Assigned To:</strong> {{ task.assignedTo }}</p>
      <p class="card-text"><strong>Created By:</strong> {{ task.createdBy }}</p>
      <button *ngIf="task.status !== 'Done'" class="btn btn-primary" (click)="markAsDone()">Mark as Done</button>
      <button *ngIf="task.status === 'Done'" class="btn btn-secondary" disabled>Task Completed</button>
    </div>
  </div> -->