// #actionDropdown::after {
//   display: none;
// }
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 9%;
  top: 29px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
.rounded-pill {
  background-color: #f3f7f7 !important;
  border: 1px solid gray;
  &:hover {
    border: 1px solid gray;
  }
}

.card {
  overflow-y: auto;
  overflow-x: auto;
  background-color: #fafbfb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  border-radius: 8px; /* Optional: Add rounded corners for a more polished look */
}

.card-text {
  color: #555151;
  padding: 10px 0 10px 0;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;

  span {
    font-weight: bold;
    font-size: 14px;
    color: #3a3636;
  }
}
