// #actionDropdown::after {
//   display: none;
// }
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 9%;
  top: 29px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
.rounded-pill {
  background-color: #f3f7f7 !important;
  border: 1px solid gray;
  &:hover {
    border: 1px solid gray;
  }
}
