.have-acc {
    box-shadow: 8.8px 11.3px 7.6px -10px rgba(0, 0, 0, 0.032),
      29.7px 38px 25.5px -10px rgba(0, 0, 0, 0.048),
      133px 170px 114px -10px rgba(0, 0, 0, 0.08);
    background: #efefed;
    border-radius: 4px;
  }

  .app-title{
    font-size: 27px;
    font-family: initial;
    font-style: oblique;
    color: #201a1a;
  }