<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Actions</th>
                <th>Email</th>
                <th>User Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td class="text-center">

                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-sm  rounded-pill" id="actionDropdown" ngbDropdownToggle>
                            Actions
                            <i class="ri-more-2-fill"></i>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="actionDropdown" class="dropdown-menu">



                            <li>
                                <a class="btn btn-sm dropdown-item">
                                    <i class="ri-chat-forward-line align-bottom me-2 text-muted"></i>
                                    Edit Role To &nbsp; &nbsp; &raquo;</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <button class="btn btn-sm dropdown-item"
                                            *ngIf="user.role !== 'user' && roleOptions.includes('user')"
                                            (click)="editUserRole(user, 'user')">
                                            User
                                        </button>
                                    </li>

                                    <li>
                                        <button class="btn btn-sm dropdown-item"
                                            *ngIf="user.role !== 'manager' && roleOptions.includes('manager')"
                                            (click)="editUserRole(user, 'manager')">
                                            Manager
                                        </button>
                                    </li>

                                </ul>
                            </li>
                            <li *ngIf="user.role==='manager' && managableUsers.length>0">
                                <a class="btn btn-sm dropdown-item">
                                    <i class="ri-chat-forward-line align-bottom me-2 text-muted"></i>
                                    Assign Manager To &nbsp; &nbsp; &raquo;</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li *ngFor="let mUser of managableUsers">
                                        <a class="dropdown-item" role="button" (click)="assignManager(user, mUser.id!)">
                                            {{mUser.userName}}
                                        </a>

                                    </li>

                                </ul>
                            </li>
                            <a role="button" ngbDropdownItem class="btn btn-sm dropdown-item"
                                (click)="deleteUser(user.id!)">
                                <i class="ri-chat-forward-line align-bottom me-2 text-muted"></i>
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.role }}</td>
            </tr>
        </tbody>
    </table>
</div>